html {
    scroll-behavior: smooth;
}
:root {
    --mainColor: #10cab7;
    --secondColor: #2c4755;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.features,
.contact,
.portfolio {
    background-color: #f6f6f6;
}

header .container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container img {
    width: 60px;
}

header .container .links {
    position: relative;
    width: 30px;
    height: 20px;
}

header .container .links::after,
header .container .links::before,
header .container .links>div {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    background-color: #000;
}

header .container .links::before {
    top: 0;
}

header .container .links::after {
    bottom: 0;
}

header .container .links>div {
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

header .container .links:hover>div {
    width: 100%;
}

header .container .links ul {
    width: 200px;
    background-color: #f6f6f6;
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    z-index: 1000;
}

header .container .links:hover ul {
    display: block;
}

header .container .links ul::after {
    content: "";
    border: solid 10px;
    border-color: transparent transparent #f6f6f6;
    position: absolute;
    top: -20px;
    right: 0;
}

header .container .links ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

header .container .links ul li a:hover {
    padding-left: 25px;
}

header .container .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

section .landing {
    height: 100vh;
    background-image: url(../images/temp_one/landing.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .landing h1 {
    color: var(--mainColor);
    font-size: 50px;
    margin-bottom: 20px;
}

section .landing p {
    line-height: 1.8;
    font-size: 19.5px;
}

.el-padding {
    padding: 80px 0;
}

.grid-style {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px;
}

.features .container>div {
    padding: 20px;
}

.features .container>div i {
    color: var(--mainColor);
}

.features .container>div h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0;
}

.features .container > div p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.el-padding .heading {
    margin-bottom: 100px;
}
.el-padding .main-h {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
}
@media (max-width: 767px) {
    .el-padding .main-h {
        font-size: 80px;
    }
}
.el-padding .main-p {
    font-size: 20px;
    text-align: center;
    color: #797979;
    position: relative;
    top: -35px;
    z-index: 3;
}
@media (min-width: 1100px) {
    .heading + div {
        display: flex;
        align-items: center;
    }
}
.services .grid-style .serv div:first-child {
    margin-bottom: 20px;
    color: var(--mainColor);
}
.services .grid-style .serv div:last-child h3 {
    margin-bottom: 20px;
}
.services .grid-style .serv div:last-child p {
    line-height: 1.8;
    color: #444;
    font-weight: 300;
}
.services .grid-style + .img {
    display: none;
}
@media (min-width: 768px) {
    .services .grid-style .serv  {
        display: flex;
        text-align: left;
    }
    .services .grid-style .serv div:first-child {
        margin-right: 20px;
        margin-bottom: 0;
    }
}
@media (min-width: 1100px) {
    .services .grid-style {
        margin-right: 100px;
    }
    .services .grid-style + .img {
        display: block;
        position: relative;
    }
    .services .grid-style + .img::after {
        content: "";
        width: 100px;
        height: calc(100% + 100px);
        position: absolute;
        top: -50px;
        right: 0;
        z-index: -1;
        background-color: var(--secondColor);
    }
    .services .grid-style + .img img {
        width: 260px;
        position: relative;
        right: 50px;
    }
}
.portfolio .grid-style .box {
    text-align: left;
}
.portfolio .grid-style .box div:first-child img {
    width: 100%;
}
.portfolio .grid-style .box div:last-child {
    padding: 20px;
    background-color: #fff;
}
.portfolio .grid-style .box div:last-child p {
    line-height: 1.7;
    color: #777;
    margin-top: 20px;
}
.about .heading + div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media (min-width: 992px) {
    .about .heading + div {
        flex-direction: row;
        text-align: left;
    }
    .about .heading + div .img {
        position: relative;
        margin-right: 150px;
    }
    .about .heading + div .img::before {
        content: "";
        width: 90px;
        height: calc(100% + 80px);
        background-color: #ebeced;
        position: absolute;
        top: -40px;
        left: -20px;
        z-index: -1;
    }
    .about .heading + div .img div {
        display: block;
        position: absolute;
        top: -40px;
        right: -40px;
        z-index: -1;
        height: 100%;
        width: 90px;
        background-color: var(--mainColor);
    }
    .about .heading + div .img div::after {
        content: "";
        height: 80px;
        width: 200px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--mainColor);
    }
}
.about .heading + div .img img {
    width: 260px;
}
.about .heading + div .img + div p {
    padding: 35px 50px;
    line-height: 1.7;
    position: relative;
}
.about .heading + div .img + div p:first-child {
    font-weight: bold;
}
.about .heading + div .img + div p:last-child {
    color: #777;
}
.about .heading + div .img + div p:first-child::after {
    content: "";
    width: 40%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -2px;
    background-color: var(--mainColor);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@media (min-width: 992px) {
    .about .heading + div .img + div p:first-child::after {
        left: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
}
}
.contact .heading + div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact .heading + div p:first-child {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    color: var(--secondColor);
}
.contact .heading + div a {
    display: block;
    color: var(--mainColor);
    font-size: 35px;
    font-weight: 800;
    margin: 20px 0;
}
@media (max-width: 767px) {
    .contact .heading + div p:first-child {
        font-size: 25px;
    }
    .contact .heading + div a {
        font-size: 25px;
    }
}
.contact .heading + div p:last-child i {
    margin-left: 5px;
}
footer {
    text-align: center;
    background-color: var(--secondColor);
    padding: 30px 10px;
    color: #fff;
    font-size: 18px;
}
footer span {
    color: var(--mainColor);
    font-weight: bold;
}